*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}
a:hover {
  color: #d0d0d0;
}

.btn {
  cursor: pointer;
  background-color: #5B0000;
  color: #fff;
  padding: 0.8rem 3rem;
  border: none;
  border-radius: 3px;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #9B0000;
}
.btn--registration {
  background-color: #9B0000;
  width: 95%;
  padding: 1.5rem;
}
.btn--registration:hover {
  background-color: #5B0000;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  color: #fff;
  background-color: #fff;
  font-size: 1.6rem;
}

.heading-primary {
  color: #5B0000;
  text-transform: uppercase;
  font-size: 5.6rem;
  font-weight: 400;
}
@media (max-width: 900px) {
  .heading-primary {
    font-size: 3.4rem;
    margin: 0 1.5rem;
  }
}

.heading-secondary {
  color: #fff;
  font-size: 3.2rem;
  font-weight: 300;
}
@media (max-width: 900px) {
  .heading-secondary {
    font-size: 2.2rem;
    margin: 0 1.5rem;
  }
}
.heading-secondary--margin {
  margin-left: 2.4rem;
}
.heading-secondary--social {
  color: #5B0000;
  text-align: center;
}

.heading-tertiary {
  color: #5B0000;
  font-size: 2.6rem;
}
@media (max-width: 900px) {
  .heading-tertiary {
    font-size: 1.9rem;
    margin: 0 1.5rem;
  }
}

.heading-quaternary {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
}
@media (max-width: 900px) {
  .heading-quaternary {
    font-size: 1.6rem;
  }
}
.heading-quaternary--margin {
  margin-left: 2rem;
}
.heading-quaternary--president {
  color: #000;
}

.paragraph {
  font-size: 1.2rem;
  line-height: 1.5;
}

.container {
  width: 55%;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .container {
    width: 100%;
  }
}

.main {
  justify-content: space-between;
}
@media (max-width: 900px) {
  .main {
    flex-direction: column;
  }
}

.side {
  width: calc(50% - 2rem);
  flex-flow: nowrap column;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .side {
    width: 80%;
    margin: 0 auto;
  }
}

.flex {
  display: flex;
}

.u-center {
  text-align: center;
}

.u-margin-top-normal {
  margin-top: 2.4rem;
}

.u-margin-top-small {
  margin-top: 1.8rem;
}

.u-margin-top-xsmall {
  margin-top: 1.2rem;
}

.u-margin-bottom-normal {
  margin-bottom: 2.4rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.8rem;
}

.u-margin-bottom-xsmall {
  margin-bottom: 1.2rem;
}

.footer {
  background: #5B0000;
  width: 100%;
  height: 15rem;
  padding-top: 3rem;
}
@media (max-width: 900px) {
  .footer {
    padding-left: 10%;
  }
}
.footer :first-child {
  color: #fff;
  font-weight: 300;
}
@media (max-width: 900px) {
  .footer :first-child {
    margin: 0;
  }
}

.header {
  width: 100%;
  height: 23rem;
  background-color: #d0d0d0;
  position: relative;
}
@media (max-width: 900px) {
  .header {
    height: 17rem;
  }
}
.header__box {
  justify-content: space-between;
  align-items: center;
}
.header__login {
  height: 4rem;
}
@media (max-width: 900px) {
  .header__login {
    margin-right: 5%;
  }
}

.nav {
  background-color: #9B0000;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 7.5rem;
}
.nav__menu {
  list-style-type: none;
  align-items: center;
  height: 100%;
}
.nav__menu--item {
  width: calc(100% / 6);
  cursor: pointer;
  height: 100%;
  position: relative;
  transition: all 0.5s;
}
.nav__menu--item a {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.nav__menu--item::after {
  content: "";
  display: block;
  background: transparent;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2rem;
  transition: all 0.5s;
}
.nav__menu--item:hover {
  background-color: #5B0000;
}
.nav__menu--item:hover::after {
  content: "";
  display: block;
  background: #d0d0d0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2rem;
}

.appointment {
  background-color: #E75050;
  height: 17.5rem;
  border-radius: 3px;
}
.appointment--detail {
  text-transform: uppercase;
}
.appointment :first-child {
  color: #5B0000;
}
.appointment :last-child {
  font-weight: 700;
}

.doc {
  background-color: #d0d0d0;
  border-radius: 3px;
  height: 35rem;
}
.doc :first-child {
  color: #000;
  font-weight: 700;
}

.news {
  height: 40rem;
  background-image: url(../img/chantier.jpg);
  background-position: bottom;
  background-size: cover;
  position: relative;
}
.news__title {
  position: absolute;
  left: 1.5%;
  bottom: 4%;
  padding: 0.3rem 3rem;
  border-radius: 3px;
  background-color: rgba(208, 208, 208, 0.9);
}
@media (max-width: 900px) {
  .news__title :last-child {
    margin: 0 1.5rem;
  }
}

.employee {
  background-color: #9B0000;
  height: 25rem;
  border-radius: 3px;
}
.employee__bg {
  background-color: #5B0000;
  height: 70%;
  justify-content: space-evenly;
  align-items: center;
}
.employee__card {
  width: 40%;
  background-color: #d0d0d0;
  border-radius: 3px;
  height: 70%;
  position: relative;
}
.employee__card--item {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-weight: 700;
}
.employee__card--item:hover {
  color: #9B0000;
}

.info {
  height: 16rem;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .info {
    margin-top: 2.4rem;
  }
}
.info__box {
  width: 48%;
  border-radius: 3px;
  background: #5B0000;
  height: 100%;
  position: relative;
}
.info__box--meteo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}
@media (max-width: 900px) {
  .info__box--meteo {
    width: 55%;
  }
}
.info__text {
  line-height: 1.2;
  font-size: 1.2rem;
  flex-flow: row;
  justify-content: space-evenly;
  list-style-type: none;
}

.president {
  background: #d0d0d0;
  border-radius: 3px;
  padding: 3rem;
  position: relative;
  color: #000;
}
.president__signature {
  text-align: right;
}
.president__signature--title {
  display: block;
}

.registration {
  background: #E75050;
  border-radius: 3px;
  padding: 2.4rem;
}
.registration__form--item input {
  width: 95%;
  padding: 1.5rem;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #d0d0d0;
  color: #9B0000;
  font-weight: 700;
  border: 2px solid transparent;
  transition: all 0.3s;
}
.registration__form--item input:focus {
  outline: none;
  border: 2px solid #9B0000;
  box-shadow: 0 0 0 0.5rem rgba(255, 255, 255, 0.2);
}
.registration__form--item input::placeholder {
  color: rgba(155, 0, 0, 0.4);
}

.social {
  background-color: #d0d0d0;
  border-radius: 3px;
}
.social :first-child {
  font-weight: 700;
}
.social__event {
  background-image: url(../img/party.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 15rem;
  position: relative;
}
.social__event p {
  display: block;
  font-weight: 700;
  position: absolute;
  left: 2%;
  bottom: 1%;
}
.social__portraits {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-flow: row wrap;
}
.social__portraits--item {
  width: 23%;
  padding-top: 1.5rem;
}
.social__text {
  background-color: #5B0000;
  border-radius: 0 0 3px 3px;
  padding: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
