.footer {
        background: $color-primary-dark;
        width: 100%;
        height: 15rem;
        padding-top: 3rem;

        @include  responsive(tablet) { 
                padding-left: 10%;    
        }

        :first-child {
                color: $color-white;
                font-weight: 300;

                @include  responsive(tablet) { 
                        margin: 0;   
                }
        }
}