.header {
        width: 100%;
        height: 23rem;
        background-color: $color-grey;
        position: relative;

        @include  responsive(tablet) { 
                height: 17rem;      
        }

        &__box {
                justify-content: space-between;
                align-items: center;
        }

        &__login {
                height: 4rem;

                @include  responsive(tablet) { 
                        margin-right: 5%;     
                }
        }

}

.nav {
        background-color: $color-primary;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 7.5rem;

        &__menu {
                list-style-type: none;
                align-items: center;
                height: 100%;

                &--item {
                        width: calc(100% / 6);
                        cursor: pointer;
                        height: 100%;
                        position: relative;
                        transition: all .5s;

                        a {
                                display: block;
                                width: 100%;
                                text-align: center;
                                position: absolute;
                                left: 0;
                                right: 0;
                                top: 50%;
                                transform: translateY(-50%);
                        }

                        &::after {
                                        content: "";
                                        display: block;
                                        background: $color-transparent;
                                        position: absolute;
                                        left: 0;
                                        right: 0;
                                        bottom: 0;
                                        height: 2rem;
                                        transition: all .5s;
                        }

                        &:hover {
                                background-color: $color-primary-dark;

                                &::after {
                                        content: "";
                                        display: block;
                                        background: $color-grey;
                                        position: absolute;
                                        left: 0;
                                        right: 0;
                                        bottom: 0;
                                        height: 2rem;
                                }
                        }
                }
        }
}