@import "./variables";
@import "./mixins";

*,
::after,
::before {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
}

html {
        font-size: 62.5%;

        @include  responsive(desktop) { 
                font-size: 50%;        
        }
}

body {
        box-sizing: border-box;
}

a {
        text-decoration: none;
        color: $color-white;
        transition: all .3s;

        &:hover {
                color: $color-grey;
        }
}