@import "./variables";

.btn {
        cursor: pointer;
        background-color: $color-primary-dark;
        color: $color-white;
        padding: .8rem 3rem;
        border: none;
        border-radius: $b-radius;
        transition: all .3s;

        &:hover {
                background-color: $color-primary;
        }

        &--registration {
                background-color: $color-primary;
                width: 95%;
                padding: 1.5rem;

                &:hover {
                        background-color: $color-primary-dark;
                }
        }

      
}