@mixin position {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
}

// Media Query

@mixin responsive($mymedia){
        @if $mymedia == phone {
                @media (max-width: 600px) { @content};
        }
        @if $mymedia == tablet {
                @media (max-width: 900px) { @content};
        }
        @if $mymedia == desktop {
                @media (max-width: 1200px) { @content};
        }
        
}

//@include  responsive(phone) { nouvelles règles...}