@import "./variables";
@import "./mixins";

body {
        font-family: $default-font;
        font-weight: 300;
        line-height: 1.4;
        color: $color-white;
        background-color: $color-white;
        font-size: $default-size;
}

.heading-primary {
        color: $color-primary-dark;
        text-transform: uppercase;
        font-size: 5.6rem;
        font-weight: 400;

        @include  responsive(tablet) { 
                font-size: 3.4rem;
                margin: 0 1.5rem;        
        }
}

.heading-secondary {
        color: $color-white;
        font-size: 3.2rem;
        font-weight: 300;

        @include  responsive(tablet) { 
                font-size: 2.2rem;
                margin: 0 1.5rem;        
        }

        &--margin {
                margin-left: 2.4rem;
        }

        &--social {
                color: $color-primary-dark;
                text-align: center;
        }
}

.heading-tertiary {
        color: $color-primary-dark;
        font-size: 2.6rem;

        @include  responsive(tablet) { 
                font-size: 1.9rem;    
                margin: 0 1.5rem;    
        }
}

.heading-quaternary {
        color: $color-white;
        font-size: 2rem;
        font-weight: 400;

        @include  responsive(tablet) { 
                font-size: 1.6rem;    
        }

        &--margin {
                margin-left: 2rem;
        }

        &--president {
                color: $color-black;
        }
}

.paragraph {
        font-size: 1.2rem;
        line-height: 1.5;
}