.container {
        width: 55%; 
        margin: 0 auto;

        @include  responsive(tablet) { 
                width: 100%;        
        }
}

.main {
        justify-content: space-between; 

        @include  responsive(tablet) { 
                flex-direction: column;;       
        }
}

.side {
        width: $flex-width; 
        flex-flow: nowrap column;
        justify-content: space-between;

        @include  responsive(tablet) { 
                width: 80%; 
                margin: 0 auto;     
        }
}

.flex {display: flex;}

.u-center {text-align: center;}

// Margin
.u-margin-top-normal {margin-top: 2.4rem;}
.u-margin-top-small {margin-top: 1.8rem}
.u-margin-top-xsmall {margin-top: 1.2rem}

.u-margin-bottom-normal {margin-bottom: 2.4rem;}
.u-margin-bottom-small {margin-bottom: 1.8rem;}
.u-margin-bottom-xsmall {margin-bottom: 1.2rem;}
