//Colors

$color-primary: #9B0000;
$color-primary-light: #E75050;
$color-primary-dark: #5B0000;

$color-white: #fff;
$color-grey: #d0d0d0;
$color-black: #000;

$color-transparent: transparent;

//Font

$default-size: 1.6rem;
$tiny-size: 1.2rem;
$default-font: 'Ubuntu', sans-serif;

//Border-radius

$b-radius: 3px;

//width 
$flex-width: calc(50% - 2rem);