.appointment {
        background-color: $color-primary-light;
        height: 17.5rem;
        border-radius: $b-radius;

        &--detail {
                text-transform: uppercase;
        }

        :first-child {
                color: $color-primary-dark;
        }

        :last-child {
                font-weight: 700;
        }
}