.doc {
        background-color: $color-grey;
        border-radius: $b-radius;
        height: 35rem;

        :first-child {
                color: $color-black;
                font-weight: 700;
        }
}