.employee {
        background-color: $color-primary;
        height: 25rem;
        border-radius: $b-radius;

        &__bg {
                background-color: $color-primary-dark;
                height: 70%;
                justify-content: space-evenly;
                align-items: center;
        }

        &__card {
                width: 40%;
                background-color: $color-grey;
                border-radius: $b-radius;
                $display: block;
                height: 70%;
                position: relative;

                &--item {
                        @include position;
                        color: $color-black;
                        font-weight: 700;

                        &:hover {
                                color: $color-primary;
                        }
                }
        }
}