.info {
        height: 16rem;
        justify-content: space-between;

        @include  responsive(tablet) { 
                margin-top: 2.4rem;       
        }

        &__box {
                width: 48%;
                border-radius: $b-radius;
                background: $color-primary-dark;
                height: 100%;
                position: relative;

                &--meteo {
                        @include position;
                        width: 70%;

                        @include  responsive(tablet) { 
                                width: 55%;     
                        }
                }
        }

        &__text {
                line-height: 1.2;
                font-size: $tiny-size;
                flex-flow: row;
                justify-content: space-evenly;
                list-style-type: none;
        }
}