.news {
        height: 40rem;
        background-image: url(../img/chantier.jpg);
        background-position: bottom;
        background-size: cover;
        position: relative;

        &__title {
                position: absolute;
                left: 1.5%;
                bottom: 4%;
                padding: .3rem 3rem;
                border-radius: $b-radius;
                background-color: rgba($color-grey, .9);

                :last-child {
                        @include  responsive(tablet) { 
                                margin: 0 1.5rem;       
                        }    
                }
        }
}