.president {
        background: $color-grey;
        border-radius: $b-radius;
        padding: 3rem;
        position: relative;
        color: $color-black;

        &__signature {
                text-align: right;

                &--title {
                        display: block;
                }
        }
}