.registration {
        background: $color-primary-light;
        border-radius: $b-radius;
        padding: 2.4rem;

        &__form--item {
                
                input {
                        width: 95%;
                        padding: 1.5rem;
                        border: 1px solid transparent;
                        border-radius: $b-radius;
                        background-color: $color-grey;
                        color: $color-primary;
                        font-weight: 700;
                        border: 2px solid $color-transparent;
                        transition: all .3s;

                        &:focus {
                        outline: none;
                        border: 2px solid $color-primary;
                        box-shadow: 0 0 0 .5rem rgba($color-white, 0.2);
                        }

                        &::placeholder {
                                color: rgba($color-primary, .4);
                        }
                }
        }
}