.social {
        background-color: $color-grey;
        border-radius: $b-radius;

        :first-child {
                font-weight: 700;
        }

        &__event {
                background-image: url(../img/party.jpg);
                background-position: center;
                background-size: cover;
                width: 100%;
                height: 15rem;
                position: relative;

                p {
                        display: block;
                        font-weight: 700;
                        position: absolute;
                        left: 2%;
                        bottom: 1%;
                }
        }

        &__portraits {
                display: flex;
                justify-content: space-between;
                align-content: space-between;
                flex-flow: row wrap;

                &--item {
                        width: 23%;
                        padding-top: 1.5rem;
                        
                }
        }

        &__text {
                background-color: $color-primary-dark;
                border-radius: 0 0 $b-radius $b-radius;
                padding: 1.5rem;
        }
}